################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3_WebAPI_ASP_DotNet_Core/LocationInfo
