@model Product
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="col-4">
    <div class="card shadow-sm text-start">
        <img src="/images/@(Model.Id).jpg" class="card-img-top" alt="Painting @(Model.Id)" style="height: 160px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">Painting @(Model).Id)</h5>
            <p class="card-text text-muted">A stunning piece of nature.</p>
            <a asp-action="Detail"
               asp-controller="Home"
               asp-route-id="@Model.Id">Details</a>
        </div>
    </div>
</div>


