@model IEnumerable<Product>

@{
    ViewData["Title"] = ViewData["GroupName"];
}

<h1> @ViewData["GroupName"]</h1>

<div class="row g-4 ">
    @foreach (var item in Model)
    {
        <partial name="_BoxProduct" model="@item"></partial>

    }
</div>
