@model RegisterViewModel;
@{
    ViewData["Title"] = "Successful Registration";
}

<h1>SuccessfulRegistration</h1>



<div class="alert alert-success">
    The new user with the email of : @Model.Email , Thank you for the registration
</div>

