@model DetailsViewModel;
@{
    ViewData["Title"] = "Detail of " + Model.Product.Name;
}

<div>
    <h1>@Model.Product.Name</h1>

    <img  src="@($"/images/{Model.Product.Id}.jpg")"
          alt="@Model.Product.Name"
          height="160"
          width="320"/>

    <p>@Model.Product.Description</p>

</div>



