@{
    ViewData["Title"] = "Paint Store";
}

<div class="container mt-5 ">
    <h1 class="display-4 text-primary mb-4"></h1>

    <div class="row g-4 ">
        @foreach (var item in Model)
        {
            <partial name="_BoxProduct" model="@item"></partial>

        }
    </div>   
